# Arquivos e diretórios específicos do Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Arquivos gerados pelo Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de dados
/data/raw/*
/data/processed/*
/data/external/*

!/data/processed/description_subsector.json

# Arquivos de testes
/tests/*

# Outros arquivos e diretórios
.DS_Store
.idea/
*.log
